@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jcz";
  src: url("../public/fonts/JyutcitziWithSourceHanSerifTCExtraLight.ttf");
  /* font-family: "MyCustomFont";
  src: url("../public/fontss/MyCustomFont-Regular.woff2") format("woff2"),
    url("../public/fontss/MyCustomFont-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  Include other styles or weights if necessary */
}

@font-face {
  font-family: "hentaigana";
  src: url("../public/fonts/UniHentaiKana-Regular.otf");
}

@font-face {
  font-family: "BabelStoneHan";
  src: url("../public/fonts/BabelStoneHan.ttf");
}

@font-face {
  font-family: "biaoyinzi";
  src: url("../public/fonts/Biaoyinzi-2016A.ttf");
}

body {
  font-family: "jcz", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
